<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>民航车辆信息</title>
    <script src="./js/common.js"></script>
    <script src="component/pagination.js"></script>
    <script src="component/calendar.js"></script>
</head>
<body>
<div id="vehicleInfo" class="content">
    <collapse :show="showSearch">
        <el-row :gutter="30" class="top">
            <el-col :xs="24" :sm="12" :md="8"><span>车牌号：</span><el-input v-model="params.licensePlate"></el-input></el-col>
            <el-col :xs="24" :sm="12" :md="8"><span>所属单位：</span><el-input v-model="params.company"></el-input></el-col>
            <el-col :xs="24" :sm="12" :md="8"><span>申请单位：</span><el-input v-model="params.applyCompany"></el-input></el-col>
            <el-col :xs="24" :sm="12" :md="8">
                <span>车辆类型：</span>
                <el-select multiple collapse-tags v-model="vehicleType" clearable>
                    <el-option-group v-for="group in vehicleTypeList" :key="group.id" :label="group.typeName">
                        <el-option v-for="item in group.items" :key="item.id" :label="item.itemName" :value="item.id"></el-option>
                    </el-option-group>
                </el-select>
            </el-col>
            <el-col :xs="24" :sm="12" :md="8"><span>通行证号码：</span><el-input v-model="params.cardNo"></el-input></el-col>
            <el-col :xs="24" :sm="12" :md="8">
                <span>有效期限：</span>
                <calendar :begin-time.sync="params.beginTime" :end-time.sync="params.endTime"></calendar>
            </el-col>
            <el-col :xs="24" :sm="12" :md="8">
                <p class="group">
                    <button class="topBtn" @click="search"><i class="glyphicon glyphicon-search"></i> 查询</button>
                    <button class="topBtn" @click="reset('vehicleType')"><i class="glyphicon glyphicon-repeat"></i> 重置</button>
                </p>
            </el-col>
        </el-row>
    </collapse>
    <div class="toolbar clearfix">
        <p class="left">
            <button @click="showImportDialog=true" class="other"><i class="glyphicon glyphicon-cloud-upload"></i> 导入</button>
            <button @click="showSearch=!showSearch"><i class="glyphicon glyphicon-search"></i> 检索</button>
        </p>
        <control :header-list="headerList" ref="control" @refresh="getData" @change-style="tableStyle=!tableStyle" @change-header="changeHeader"></control>
    </div>
    <div class="table">
        <table-list ref="tableList" :data-source="dataSource" :loading="loading" :total="total"
                    :pages="pages" :header-list="headerList"  :table-style="tableStyle">
        </table-list>
    </div>
    <el-dialog class="importDialog" title="导入车辆" :visible.sync="showImportDialog" top="30vh">
        <el-upload :action="importVehicleUrl" :on-success="importSuccess" :on-error="importFailed">
            <button>选择文件</button>
            <div slot="tip" class="el-upload__tip">只能上传excel文件</div>
        </el-upload>
        <footer slot="footer"></footer>
    </el-dialog>
</div>
</body>
<script>
  new Vue({
    el: '#vehicleInfo',
    mixins: [mixin],
    data: {
      params: { idType: 0 },
      vehicleTypeList: [],
      vehicleType: [],
      showImportDialog: false,
      importVehicleUrl: UPLOAD_CIVIL_VEHICLE
    },
    mounted () {
      this.headerList = [
        {label: '车牌号', prop: 'licensePlate', width: 85, show: true},
        {label: '机动车厂牌', prop: 'brand', width: 110, show: true },
        {label: '机动车型号', prop: 'model', width: 110, show: true },
        {label: '车身颜色', prop: 'color', width: 95, show: true },
        {label: '所属单位', prop: 'company', width: 140, show: true },
        {label: '申请单位', prop: 'applyCompany', width: 140, show: true },
        {label: '车辆类型', prop: 'itemName', width: 100, show: true },
        {label: '证件类别', prop: 'idType', func: () => '民航车辆', width: 95, show: true },
        {label: '证件有效期开始', prop: 'beginTime', width: 85, show: true },
        {label: '证件有效期结束', prop: 'endTime', width: 85, show: true },
        {label: '通行道口', prop: 'passageAuthority', func: d => d.split(' ').join('、'), width: 95, show: true },
        {label: '通行区域', prop: 'passageRegion', func: d => d.split(' ').join('、'), width: 95, show: true },
        {label: '通行证号码', prop: 'cardNo', width: 105, show: true }
      ]
      this.getDataMethod = getVehicleList
      getVehicleType().then( result => { this.vehicleTypeList = result })
      this.getData()
    },
    watch: {
      vehicleType (value) {
        this.params.vehicleCategory = value.join(',')
      }
    },
    methods: {
      search () {
        if (this.params.endTime && this.params.beginTime > this.params.endTime) {
          warning('开始日期不得大于结束日期')
          return
        }
        this.getData()
      },
      importSuccess (res) {
        if (res.code === 200) {
          success('民航车辆信息表导入成功')
          this.showImportDialog = false
          this.getData()
        } else warning(res.message)
      },
      importFailed () {
        warning('民航车辆信息表导入失败')
      }
    }
  })
</script>
</html>
