.confirmDialog .el-dialog {
    width: 250px;
}

.confirmDialog .el-dialog .el-dialog__body {
    padding-bottom: 5px;
}

.confirmDialog p:first-of-type {
    color: black;
}

.confirmDialog p .icon {
    margin-right: 10px;
}

.confirmDialog .el-dialog p:last-of-type {
    margin-top: 15px;
    text-align: right;
}
